<a href="https://colab.research.google.com/github/rehammahal/COVID-19-project/blob/main/COVID19rPROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pn
import numpy as np

path = "COVID19-project.xlsx"

covidData = pn.read_excel(path)

#Check All Data Types
covidData.dtypes

#Check All Statisical Matric of Dataset
covidData.describe(include="all")

#Drop Daily\Cumulative and Event Attributes
covidData.drop('Event', axis = 'columns', inplace = True)
covidData.drop('Daily / Cumulative', axis = 'columns', inplace = True)

#Drop Records We Don't Need
covidData.drop(range(1276,30873), axis = 'rows', inplace = True)

#Drop Total Records
new_covidData = covidData[covidData["City"].str.contains("Total")==False]

#Change Wrong Format in Dataset
new_covidData["Cases"].replace("?", np.nan, inplace = True)

#Save New Data Frame after Changing
covidData.to_excel("CleaningCOVID19.xlsx")
new_covidData.to_excel("newCleaningCOVID19.xlsx")

new_covidData

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

         Indicator       Date          region       City  Cases
0            Cases 2020-03-02  Eastern Region      Qatif    1.0
1            Cases 2020-03-04  Eastern Region      Qatif    1.0
2            Cases 2020-03-07  Eastern Region      Qatif    2.0
4            Cases 2020-03-10  Eastern Region     Dammam    4.0
5            Cases 2020-03-12           Mecca      Mecca   21.0
...            ...        ...             ...        ...    ...
1269   Mortalities 2020-06-13          Riyadh     Riyadh    4.0
1271   Mortalities 2020-06-13           Jazan      Sabya    1.0
1272   Mortalities 2020-06-13          Riyadh  Huraymila    1.0
1273   Mortalities 2020-06-13           Jazan      Baish    1.0
1274  Active cases 2020-03-02  Eastern Region      Qatif    1.0

[1225 rows x 5 columns]